* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --belle-font: "Bellefair", serif;
    --barlow-font: "Barlow Condensed", sans-serif;
    --vary-dark-navy: #0B0D17;
    --light-blue: #D0D6F9;
    --white: #ffffff;
}

body {
    height: 100vh;
    background: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    padding: 20px 0 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 40px;
}

header .nav-line {
    width: 50%;
    height: 1px;
    background-color: var(--white);
    transform: translateX(20%);
    z-index: 100;
}

header nav {
    width: 40%;
    padding: 20px;
    background-color: #ffffff38;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: flex-end;
}

#menu-btn {
    display: none;
}

header nav ul {
    z-index: 100;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    height: 100%;
    display: flex;
    color: var(--white);
    font-family: var(--barlow-font);
    font-size: 19px;
    transition: .20s;
}

header nav ul li a:hover {
    color: #bac4ff;
}

#second-nav {
    display: none;
}

/* First Section */

.first-sec {
    padding: 10% 100px;
    height: 80%;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first-sec .first-sec-content {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-sec .first-sec-content .upper-sec-cont {
    font-family: var(--barlow-font);
    font-size: 25px;
    color: var(--light-blue);
    font-weight: 300;
    text-transform: uppercase;
}

.first-sec .first-sec-content .middle-sec-cont {
    font-family: var(--belle-font);
    font-size: 100px;
    color: var(--white);
    text-transform: uppercase;
}

.first-sec .first-sec-content .last-sec-cont {
    width: 400px;
    font-family: var(--barlow-font);
    font-weight: 300;
    word-spacing: 2px;
    line-height: 20px;
    font-size: 17px;
    color: var(--light-blue);
    background-color: #47353500;
}

.first-sec .upper-btn {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-sec .first-sec-btn {
    transition: .20s;
    height: 180px;
    width: 180px;
    background-color: #ffffff2c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-sec .first-sec-btn:hover {
    height: 250px;
    width: 250px;
}

.first-sec .first-sec-btn .btn {
    height: 180px;
    width: 180px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-sec .first-sec-btn .btn a {
    font-family: var(--belle-font);
    font-size: 20px;
    color: #0B0D17;
}

@media (max-width: 1330px) {
    header .nav-line {
        width: 40%
    }

    header nav {
        width: 60%;
    }
}

@media (max-width: 911px) {
    body {
        background-position: center;
    }

    header .nav-line {
        width: 30%
    }

    header nav {
        width: 60%;
    }
}

@media (max-width: 1110px) {
    .first-sec {
        margin: 80px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 782px) {
    body {
        height: 100vh;
        width: 100vw;
        background: url(assets/home/background-home-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    header {
        padding: 0;
    }

    header .logo {
        width: 15%;
        display: flex;
        justify-content: center;
    }

    header .logo img {
        margin: 15px 20px 0 20px;
        width: 40px;
    }

    header .nav-line {
        display: none;
    }

    header nav {
        padding: 0 20px 0 0;
        background-color: #ffffff21;
        height: 86px;
        width: 85%;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 520px) {
    body {
        height: 100%;
    }

    header {
        padding: 0 18px;
    }

    header nav {
        padding: 0;
        background-color: #ffffff00;
        backdrop-filter: blur(0px);
    }

    header .logo {
        width: 40px;
        display: flex;
        justify-content: center;
    }

    header .logo img {
        margin: 0;
        width: 40px;
    }

    header nav ul {
        display: none;
    }

    #menu-btn {
        display: flex;
    }

    .navCloseBtnUpper {
        padding: 0 20px 0 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #close-btn {
        width: 20px;
        display: flex;
        padding: 30px 0 0 0;
    }

    #second-nav {
        display: none;
        top: 0;
        right: 0;
        position: absolute;
        height: 100vh;
        width: 70%;
        background-color: #ffffff49;
        backdrop-filter: blur(20px);
        animation: openNavAnimation .50s;
    }

    #second-nav .nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    @keyframes openNavAnimation {
        0% {
            width: 35%;
        }

        100% {
            width: 70%;
        }
    }

    #second-nav .nav ul {
        padding: 70px 0 0 0;
        display: flex;
        flex-direction: column;
        z-index: 100;
    }

    #second-nav .nav ul li {
        padding: 20px 0 0 40px;
        display: flex;
    }

    #second-nav .nav ul li a {
        width: 100%;
        color: var(--white);
        font-family: var(--barlow-font);
        font-size: 19px;
        padding: 0 15px 0 0;
    }

    #second-nav .nav ul li a.active {
        border-right: 4px solid #ffffff;
    }

    .first-sec .first-sec-content .upper-sec-cont {
        font-family: var(--barlow-font);
        font-size: 20px;
        color: var(--light-blue);
        font-weight: 300;
        text-transform: uppercase;
    }
    
    .first-sec .first-sec-content .middle-sec-cont {
        font-family: var(--belle-font);
        font-size: 60px;
        color: var(--white);
        text-transform: uppercase;
    }
    
    .first-sec .first-sec-content .last-sec-cont {
        width: 280px;
        font-family: var(--barlow-font);
        font-weight: 300;
        word-spacing: 2px;
        line-height: 20px;
        font-size: 17px;
        color: var(--light-blue);
        background-color: #47353500;
    }
}